.Main_Section {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  padding: 0;
}

.content {
  display: block;
  width: calc(100% - 150px);
  margin-top: 20px;
  color: #052d54;
  margin-left: 150px;
  font-size: large;
  font-family: Roboto;
}


