.top-banner {
  background-color: #41b3a3;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: center;
}
.top-banner-right img {
  width: 400px;
}

.top-banner-right {
  animation-name: rotate-scale-up;
  animation-duration: 1s;
}
.top-banner-right img:hover {
  animation-name: rotate-center;
  animation-duration: 500ms;
}
@-webkit-keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(1.2) rotateZ(180deg);
    transform: scale(1.2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}
@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(1.2) rotateZ(180deg);
    transform: scale(1.2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.top-banner-left {
  max-width: 600px;
  font-size: 1.3rem;
  color: #edf5e1;
}
.extra {
  color: #052d54;
  font-size: 3.3rem;
}
.top-banner-left fieldset {
  border-color: #052d54;
  color: #052d54;
}
.top-banner-left fieldset legend {
  padding: 0 5px;
}
.top-banner-left .top-banner-left-navigation {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 30px;
}
.top-banner-left-navigation a {
  cursor: pointer;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 500ms;
  text-decoration: none;
  color: #052d54;
}
.top-banner-left-navigation a:hover {
  background-color: #052d54;
  color: #edf5e1;
}
